<div class="eventcontainer">
  <div class="card">
    <div class="card-body">
      <p class="card-text">
        <span class="eventheadline">Sports Meet in Galaxy Field</span>
      </p>
      <p>Jan 12, 2019</p>
      <p>Greenfields, Sector 22, Faridabad</p>
    </div>

    <img
      class="card-img"
      src="../../assets/galaxy_field1.png"
      alt="photo of galaxy field"
    />
  </div>
  <div class="card">
    <div class="card-body">
      <p class="card-text">
        <span class="eventheadline">Art & Meet in Street Plaza</span>
      </p>
      <p>Jan 12, 2019</p>
      <p>Greenfields, Sector 22, Faridabad</p>
    </div>

    <img
      class="card-img"
      src="../../assets/street_plaza.png"
      alt="photo of galaxy field"
    />
  </div>
  <div class="card">
    <div class="card-body">
      <p class="card-text">
        <span class="eventheadline">Youth Music in Galleria</span>
      </p>
      <p>Jan 12, 2019</p>
      <p>Greenfields, Sector 22, Faridabad</p>
    </div>

    <img
      class="card-img"
      src="../../assets/galleria.png"
      alt="photo of galaxy field"
    />
  </div>
</div>
