main {
  height: 100vh;
  width: 100vw;
  background-color: var(--primary-background-color);
}


.startpage-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;


.head-container {
  padding: 40px 25px 25px 25px;
  padding-left: 25px;
  background-color: var(--primary-background-color‚);
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 100%;
}

.fancy {
  color: var(--primary-font-color);
}

.mainlogo {
  display: inline-block;
}

h1 {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--secondary-font-color);
  font-weight: 700;
  display: inline-block;
}

.notification-corner {
  display: flex;
  justify-content: flex-end;
}
.icon_bell {
  margin-right: 20px;
}



.homebutton {
  width: 138px;
  height: 55px;
  border: none;
  border-radius: 27pt;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  color: var(--home-font-color);
  background-color: var(--primary-background-color);
}

.icon-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  align-items: center;
  background-color: var(--footer-background-color);
}
