.welcome {
  height: 100vh;
  width: 100vw;
  /* background-color: var(--primary-background-color); */
  /*   display: grid;
  place-items: center;
  justify-content: stretch; */
}

.backgroundpattern {
  background-color: var(--primary-background-color);
  margin: auto;
  height: 140vh;
  width: 120vw;
  background-size: 100%;
}

h1,
p {
  color: var(--secondary-font-color);
  font-weight: bold;
  place-items: center;
}

.fancy {
  color: var(--home-font-color);
}
